<style>
  .hover {
    padding-top: 4px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }
  .hover:hover {
    background-color: whitesmoke;
  }
  .hover:hover  .hover-item:hover {
    font-size: larger;
  }
  .hover:active {
    background-color: lightgray;
  }

  table {
    /* table-layout: fixed; */
    width: 100%;
    /* border-collapse: collapse; */
  }

  thead th:nth-child(1) {
    width: 15%;
  }

  thead th:nth-child(2) {
    width: 20%;
  }

  thead th:nth-child(3) {
    width: 20%;
  }
  thead th:nth-child(4) {
    width: 20%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div>
        <button
          class="btn btn-info text-white p-1"
          style="float: right"
          (click)="addPerson()"
        >
          New {{typePerson}}
        </button>
        <h1>Search {{typePerson}}s</h1>
      </div>

      <!-- add mode -->
      <div *ngIf="isAddMode">
        <app-edit-person (cancelSave)="addPersonFinished()" [personType]="typePerson"></app-edit-person>
      </div>
      <!-- edit Mode -->
      <div *ngIf="isEditMode">
        <app-edit-person (cancelSave)="addPersonFinished()" [person]="personEdited" [personType]="typePerson"></app-edit-person>
      </div>


      <input
        type="text"
        placeholder="search"
        class="form-control"
        #input
        (input)="onInput(input)"
      />
      <div>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Company Name</th>
            <th>Work phone</th>
            <th>Email</th>
            <th>Receivables</th>
            <th></th>
          </thead>
          <tbody>
            <tr
              *ngFor="let person of printPersons"
              class="hover"
              [routerLink]="[person?._id]"
            >
              <td>
                {{ person?.name }}
              </td>
              <td>{{ person?.companyName }}</td>
              <td>{{ person?.workPhone }}</td>
              <td>{{ person?.email }}</td>
              <td>
                Receivables
              </td>
              <td >
                <i class="bi bi-trash p-3 hover-item" (click)="onDelete($event,person)"></i>
                <i class="bi bi-pencil hover-item" (click)="onEditPerson($event,person)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="collectionSize > maxSize" style="float: right">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            (pageChange)="onPagination(page)"
            [maxSize]="maxSize"
            [pageSize]="maxSize"
            [rotate]="false"
            [boundaryLinks]="false"
            size="sm"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
