<style>
  .ab-body{
    position: relative;
  }
  .ab-container {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
  }
  .hover {
    padding-top: 6px;
    padding-left: 8px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }
  .hover:hover {
    background-color: whitesmoke;
  }
  .hover:active {
    background-color: lightgray;
  }
  .ab-text {
    color: rgb(6, 196, 243);
    text-decoration: none;
    padding: 6px;
    cursor: pointer;
  }
  .ab-text:hover {
    font-weight: bold;
  }
</style>
<div class="ab-body">
  <div class="form-control text-secondary p-0 ps-2 hover" (click)="isSearchPerson=!isSearchPerson">{{ personSelected?.name ?  personSelected.name : 'select person'}}
    <i class="bi " [ngClass]="{'bi-chevron-right': !isSearchPerson, 'bi-chevron-down': isSearchPerson}" style="float: right;"></i>
  </div>
  <div  *ngIf="isSearchPerson">
    <div class="ab-container nav flex-column">
      <input
        type="text"
        placeholder="search"
        class="form-control py-0 ps-2 mb-2"
        #input
        (input)="onInput(input)"
      />
      <div *ngFor="let person of printPersons">
        <li class="hover nav-item" (click)="onSend(person)">
          {{ person?.name }}
        </li>
      </div>
      <div *ngIf="collectionSize > maxSize" style="float: right">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          (pageChange)="onPagination(page)"
          [maxSize]="maxSize"
          [pageSize]="maxSize"
          [rotate]="false"
          [boundaryLinks]="false"
          size="sm"
        ></ngb-pagination>
      </div>
      <div class="bg-light p-2">
        <a (click)="onAppEdit()" class="ab-text">
          <i class="bi bi-plus"></i> add new customer
        </a>
        <div *ngIf="isEditMode">
          <app-edit-person (cancelSave)="onAdd($event)"></app-edit-person>
        </div>
      </div>
    </div>

  </div>
</div>
