<style>
  .hors{
    border: 2px solid gray;
    border-radius: 5px;

  }
  .zippy {
    padding: 15px;
    width: 100%;
  }
</style>
<div class="hors">
  <div
    class="zippy"
    (click)="onClick()"
    [ngStyle]="{
      'background-color': isClicked ? 'rgb(241, 233, 233' : 'white'
    }"
  >
    <h1>
      {{ title }}

      <span style="float: right" >
        <i
          [ngClass]="{
            'bi bi-chevron-down': !isClicked,
            'bi bi-chevron-up': isClicked
          }"
        ></i>
      </span>
    </h1>
  </div>
  <div style="padding :15px"  *ngIf="isClicked">
    <ng-content></ng-content>
  </div>
</div>
