<style>
  table {
    /* table-layout: fixed; */
    width: 100%;
    /* border-collapse: collapse; */
  }

  thead th:nth-child(1) {
    width: 20%;
  }

  thead th:nth-child(2) {
    width: 40%;
  }

  thead th:nth-child(3) {
    width: 20%;
  }
  thead th:nth-child(4) {
    width: 20%;
  }
  .hover:hover{
    background-color: whitesmoke;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <!-- head -->
      <h1>Search Products</h1>
      <div class="d-flex">
        <div class="flex-grow-1 px-2">
          <input
            type="text"
            class="form-control"
            #input
            (input)="onInput(input)"
          />
        </div>
        <div class="flex-shrink">
          <button class="btn btn-primary" (click)="newProduct = true">new product</button>
        </div>
      </div>

      <!-- add new product -->
      <app-edit-product *ngIf="newProduct" (SaveOrCancel)="onAddProduct()"></app-edit-product>

      <!-- table of content -->
      <div>
        <table class="table table-based">
          <thead>
            <th>description</th>
            <th>Selling Price</th>
            <th>Cost Price</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td colspan="4" *ngIf="deleteError">
                <div class="alert alert-warning">the product not deleted</div>
              </td>
            </tr>
            <ng-container *ngFor="let product of printProducts; let i = index">
              <tr *ngIf="i !== productEditedIndex" class="hover">
                <td>
                  <div class="fw-bold"> {{product?.title}}</div>
                  <div > {{product?.description}}</div>
                </td>
                <td>{{product?.sellingPrice}}</td>
                <td>{{product?.costPrice}}</td>
                <td>
                  <button
                    class="btn btn-secondary btn-sm"
                    (click)="onEdit(i, product)"
                  >
                    edit
                  </button>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="onDelete(product, i)"
                  >
                    delete
                  </button>
                </td>
              </tr>
              <tr *ngIf="i === productEditedIndex">
                <td colspan="4">
                  <!-- edit product-------------------- -->
                  <app-edit-product
                    [product]="product"
                    (SaveOrCancel)="onEditProductFinished($event)"
                  ></app-edit-product>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div *ngIf="collectionSize > maxSize" style="float: right">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            (pageChange)="onPagination(page)"
            [maxSize]="maxSize"
            [pageSize]="maxSize"
            [rotate]="false"
            [boundaryLinks]="false"
            size="sm"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
