<style>
  .ab-container {
    position: relative;
  }
  .ab-header {
    width: 100%;
    min-height: 10vh;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 10px;
    background-color: white;
  }
  .ab-header-1{
    display: inline-block;
    vertical-align:top;
    padding: 5px;
    width: 60%;
  }
  .ab-header-2{
    display: inline-block;
    vertical-align:top;
    padding: 5px;
    width: 40%;
  }
  .ab-body {
    min-height: 80vh;
    border: 2px solid #E5E5E5;
  }
  .ab-body-1 {
    display: inline-block;
    vertical-align:top;
    width: 30%;
    background-color: rgb(241, 235, 235);
  }
  .ab-body-2 {
    display: inline-block;
    vertical-align:top;
    width: 20%;
    background-color: rgb(243, 221, 221);
  }
  .inside-body-2 {
    position: relative;
    height: 71vh;
  }
  .ab-body-3 {
    display: inline-block;
    vertical-align:top;
    width: 50%;
  }

  .hover:hover{
    background-color: whitesmoke;
    cursor: pointer;
  }
  .hover:active{
    background-color: lightgray;
  }
</style>
<div class="ab-container">
  <!-- information client -->
  <div class="ab-header">
    <div class="ab-header-1">
      <h3>name : {{ personViewed?.name }}</h3>
    <div>
      type :
      {{personViewed.customer ? 'customer ' : ''}}
      {{personViewed.customer && personViewed.vendor ? '& ' : ''}}
      {{personViewed.vendor ? 'vendor' : ''}}
    </div>
    </div>

    <div class="ab-header-2">
      <h3>Remaining : {{remaining}} </h3>
    </div>

  </div>
  <div class="ab-body ab-body-1">
    <!-- view invoices  -->
    <table class="table">
      <thead>
        <tr>
          <th>N</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <ng-container *ngFor="let invoice of personInvoices">
          <tr (click)="viewInvoice(invoice)" class="hover">
            <td>{{ invoice?.num }}</td>
            <td>{{ invoice?.date | date }}</td>
            <td [ngStyle]="{'color' :invoice.type=== typeInvoice.invoice ? 'green':'#800020'}">
               {{ invoiceTotal(invoice) | currency}}
               <i [ngClass]="invoice.type=== typeInvoice.invoice ? 'bi-caret-up-fill':'bi-caret-down-fill'" class="bi "></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="ab-body ab-body-2">
    <div class="inside-body-2">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <ng-container *ngFor="let payment of personPayments">
            <tr>
              <td>{{ payment?.date | date }}</td>
              <td [ngStyle]="{'color' :payment.type=== typePayment.received ? 'green':'#800020'}">{{ payment?.amount |currency}}
                <i [ngClass]="payment.type=== typePayment.received ? 'bi-caret-up-fill':'bi-caret-down-fill'" class="bi "></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="ab-bottom" style="top: 555px">
      <!-- <input type="text" class="form-control" /> -->
    </div>
  </div>

  <div class="ab-body ab-body-3">
    <div *ngIf="!invoiceViewed">
      <h1 class="p-4">Select Invoice</h1>
    </div>
    <div *ngIf="invoiceViewed">
      <app-view-invoice [invoice]="invoiceViewed"></app-view-invoice>
    </div>
  </div>
</div>
